/* reseteo de estilos */
*,
*::before,
*::after {
    margin: 0;
}

body {
    margin-left: 11px;
}

h1 {
    font-family: 'Playfair Display' serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    width: 323px;
    height: 29px;
    margin: 32px 41px 12px 0px;
}

/* Convierto a la imágen y el parrafo en flex para que queden en flex */

#parrafo {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

#parrafo p {

}

#cake {
    padding-top: 11.83px;
    width: 352px;
    height: 213.83px;
}

#cake img {
    width: 100%;
    border-radius: 12px;
}

.details {
    display: flex;
    gap: 1rem;
    margin-bottom: 20.75px;
}

.icon {
    width: 13.54px;
    height: 12.57px;
}

#fork, #servings {
    color: #F2994A;
}

.description :nth-child(1){
    font-family: montserrat;
    font-weight: bold;
    font-size: 8px;
    line-height: 10px;
    color: #BDBDBD;
}

.description :nth-child(2){
    font-family: montserrat;
    font-weight: medium;
    font-size: 10px;
    line-height: 12px;
    color: #333;
}

.times {
    display: flex;
    justify-content: space-between;
}

.check {
    display: flex;
    gap: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#ingredients h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 13px;
}

#ingredients h3{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 21.33px;
    margin-bottom: 13px;
}

input {
    border: solid 1px #828282;
    width: 21px;
    height: 21px;
}

.check p {
    width: 321px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

.check p span {
    font-weight: 700;
}

.instruction {
    display: flex;
    gap: 15px;
}

.instruction div {
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: #F2994A;
    border-radius: 36px;
    color: white;
}

.anchoP {
    width: 300px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.instruction div p {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}